body {
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  background-color: #f8f8f8;
  overflow-y: scroll;
}
.container {
    background-color: #fff;
    -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
    max-width: 970px;
}
h1, h2, h3, h4 {
    margin-top: 0;
    -webkit-font-smoothing: antialiased;
}
p {
    margin: 0 0 15px;
}
